:root {
  --vermelhoEscuro: #C8102E;
  --cinzaMetálico: #5A5A5A;
  --azul: #0C2340;
}

body.tema-claro {
  --preto: #000000;
  --branco: #ffffff;
  --prata: #C0C0C0;
  --fundo: #F2F2F2;
  --azul: #0C2340;
  background-color: var(--fundo);
  color: var(--azul);
}

body.tema-escuro {
  --preto: #000000;
  --branco: #ffffff;
  --prata: #121212;
  --fundo: #1a1a1a;
  --fundoClaro: #1f1f1f;
  background-color: var(--prata);
  color: var(--preto);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1b1b1b;
  line-height: 1.6;
  overflow-x: hidden;
}

#botaoTema{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background: #F2F2F2;
}

body.tema-escuro #botaoTema { background: var(--fundo); }

.tema-toggle {
  top: 10px;
  right: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background-color: #52525b;
  color: white;
  cursor: pointer;
  z-index: 1001;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.tema-toggle:hover {background-color: #71717a;}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

/* Tipografia */
h1, h2, h3 { color: var(--azul); margin-bottom: 20px; }
p { font-size: 18px; color: var(--preto); }
body.tema-escuro h1, h2, h3 { color: var(--branco); }
body.tema-escuro p { color: var(--branco); }

/* Botões */
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.btn {
  padding: 12px 20px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  display: inline-block;
  width: 200px;
  text-align: center;
}

.btn.principal {
  background-color:var(--vermelhoEscuro);
  color: #fff;
  border: none;
}

.btn.segundario {
  background-color: transparent;
  color: var(--preto);
  border: none;
  text-decoration: underline;
}
body.tema-escuro .btn.segundario{ color: var(--branco); }

.btn.segundario:hover {
  color: var(--vermelhoEscuro);
  border-color: var(--vermelhoEscuro);
}

/* Hero */
#hero {
  background-color: var(--fundo);
  width: 100%;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.center {
  flex: 1;
  max-width: 400px;
  text-align: center;
  margin-left: 50px;
}

.logo {
  width: 180px;
}

.tituloPrincipal {
  font-size: 35px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.subtitlePrincipal {
  font-size: 18px;
  color: var(--preto);
  margin-bottom: 30px;
}

.person {
  flex: 1;
  text-align: center;
}

.person img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

#bloco1 {
  width: 100%;
  background-color: var(--branco);
}
body.tema-escuro #bloco1{ background: var(--fundoClaro);}

#bloco1 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1320px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 120px;
}

#bloco1 .text-column {
  flex: 1;
  font-size: 20px;
  min-width: 300px;
}

#bloco1 .image-column {
  flex: 1;
  text-align: center;
}

#bloco1 .image-column img {
  max-width: 100%;
  height: auto;
  display: block;
}

#bloco2 {
  background: var(--fundo);
}

#bloco2 .container {
  gap: 120px;
  flex-direction: row-reverse;
}

#bloco2 .text-column {
  flex: 1;
  font-size: 20px;
  min-width: 45%;
}

.text-azul{ color: var(--azul); }
body.tema-escuro .text-azul{ color: var(--branco); }

#bloco2 .image-column img {
  max-width: 100%;
  height: auto;
  display: block;
}

#bloco3 {
  background-color: var(--branco);
  padding: 60px 20px;
}
body.tema-escuro #bloco3{ background: var(--fundoClaro);}

.bloco3-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.bloco3-container h2 {
  font-size: 32px;
  color: var(--azul);
  margin-bottom: 5px;
}
body.tema-escuro .bloco3-container h2{ color: var(--branco);}


.bloco3-container p {
  font-size: 18px;
  color: var(--preto);
  margin-bottom: 40px;
}

.features-grid {
  display: grid;
  justify-content: center;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.features-grid div {
  background-color: var(--fundo);
  padding: 30px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 250px;
  transition: all 0.3s ease;
  cursor: pointer;
}
body.tema-escuro .features-grid div{ background: var(--fundo); }


.features-grid div i{
  color: var(--azul); 
  margin-right: 8px;
}
body.tema-escuro .features-grid div i{color: var(--vermelhoEscuro);}

.features-grid div:hover {
  background-color: var(--azul);
  color: #ffffff;
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.features-grid div:hover h3,.features-grid div:hover p,.features-grid div:hover i{
  color: #ffffff;
}
.features-grid h3 {
  color: #1b1b1b;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}
body.tema-escuro .features-grid h3 { color: var(--branco) ;}

.features-grid p {
  text-align: center;
  color: #555;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}

#bloco4 {
  width: 100%;
  background-color: var(--fundo);
}

#bloco4 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1320px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 120px;
}

#bloco4 .text-column {
  flex: 1;
  font-size: 20px;
  min-width: 300px;
}

#bloco4 .image-column {
  flex: 1;
  text-align: center;
}

#bloco4 .image-column img {
  max-width: 100%;
  height: auto;
  display: block;
}

.steps-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.step-item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

body.tema-escuro .step-item { background-color: var(--fundoClaro) }

.step-number {
  width: 55px;
  height: 45px;
  background-color: #a5121e;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-item h4 {
  margin: 0 0 5px;
  font-size: 18px;
  color: #1d1d1d;
}
body.tema-escuro .step-item h4{ color: var(--branco); }
.step-item p {
  margin: 0;
  color: #555;
  font-size: 16px;
}

#faq {
  background-color: var(--branco);
  padding: 60px 20px;
}
body.tema-escuro #faq { background-color: var(--fundoClaro); }

#faq h2 {
  text-align: center;
  color: var(--azul);
  font-size: 32px;
}
body.tema-escuro #faq h2{ color: var(--branco); }

#faq .bloco5-p {
  color: var(--preto);
}
body.tema-escuro #faq .bloco5-p { color: var(--branco); }

.faq-list {
  max-width: 800px;
  margin: 40px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-list p{
  color: var(--branco);
}

.faq-list details {
  background-color: var(--azul);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
}

.faq-list summary {
  font-size: 20px;
  font-weight: 600;
  color: var(--branco);
  list-style: none;
  padding: 18px 20px;
  text-align: center;
  margin: 0;
}

.faq-list details[open] p {
  color: var(--branco);
}

.faq-list details p {
  font-size: 18px;
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: 0;
  line-height: 1.5;
}

.bloco5-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

#faq{
  quotes: 1;
}

.imgMobile{
  display: none;
}

#Topo {
  position: fixed;
  text-decoration: none;
  bottom: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #c8102e; /* vermelho semelhante ao da imagem */
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: background-color 0.3s ease;
}

#Topo:hover {
  background-color: #a60c25;
}

@media (max-width: 768px) {
  .layout, .center{
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .person{display: none;}

  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
  }

  .logo {width: 120px;}
  .tituloPrincipal{font-size: 30px;}
  .bloco1{padding: 20px;}
  .container{text-align: center;}
  .image-column{display: none;}
  .imgMobile{display: block; width: 100%; height: 100%; margin-bottom: 15px;}
  .features-grid{display: block; width: 100%;}
  .features-grid div{width: 100%; height: 200px; padding: 20px; margin-bottom: 20px;}
  .step-number{width: 65px; height: 30px;}
  .step-item h4{text-align: start;}
  .step-item p{text-align: start;}
  .faq-list summary{font-size: 16px;}
  .faq-list details p {font-size: 14px; padding: 0px 0px 20px 0px;}
  .faq-list details{padding: 0px 20px 0px 20px;}
  #Topo{bottom: 20px; right: 20px;}

}